.change-input-container {
    width: 80vw;
    max-width: 500px;
    background-color: rgb(247, 241, 241);
    box-shadow: 0px 0px 16px 4px #bfbfbf;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .completed {
    font-family: Roboto;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
  }
  